<p>
    <strong>الكتابة لتجربة المستخدم | UX Writing</strong></p>
    
<p>
    <strong>تعريف:</strong></p>
    
<p>
    لمن لم يسمع بهذا المصطلح من قبل فهناك تعريف مبسط يوضح ماهية الكتابة لتجربة المستخدم:</p>
    
<p>
    هي فن صياغة النصوص التي تظهر في جميع أنحاء واجهة المستخدم للمنتجات الرقمية كمواقع الإنترنت، تطبيقات الأجهزة المحمولة، إلخ.. - محمود أحمد -</p>
    
<p>
    وهو تخصص ظهر بشكل كبير بسبب تعقد واجهات الاستخدام من مواقع وتطبيقات، واستهداف أصحاب المشاريع مستخدمين عدة تختلف ثقافاتهم عن بعضهم البعض ولغاتهم، لاسيما اللهجات. ومن هنا انفرد كتخصص وظيفي مفصل. وهو تخصص يندرج تحت "تجربة المستخدم UX" بجانب التصميم.</p>
    
<p>
    <strong>تختلف الكتابة لتجربة المستخدم عن الكتابة التقليدية (مقالات، موضوعات ومنشورات، إلخ):</strong></p>
    
<p>
     بأن الكتابة لتجربة المستخدم تهدف إلى توجيه وتوصيل المستخدم من خلال "واجهة الاستخدام" (موقع، تطبيقات) إلى غايته من الموقع او التطبيق بطريقة بديهية وأسلوب بسيط وواضح.</p>
    
<p>
    من أكثر الدورات التي استفدت منها الفترة الأخيرة دورة الكتابة لتجربة المستخدم التي يقدمها: محمود أحمد مؤسس منصة "الكتابة لتجربة المستخدم بالعربية UX Writing Ar".</p>
    
<p>
    أنهيت الدورة بنجاح - الثاني مكرر على الدفعة - كم الاستفاده لا يوصف وكم المعلومات كبيراً جداً لم أكن متوقعة؛ خاصةً وهو تخصص جديد في العالم التقني مازال في بدايته، ورغم ذلك عدد المهام التي تندرج تحت مسؤولية كاتب تجربة المستخدم مهوله وخصوصاً أهمية تلك المهام من:</p>
    
    </p>
    <ul>
    
    <li>إجراء تحليلات للمواقع المنافسة.
    
    <li>تحليل العملاء والمستخدمين (User Persona).
    
    <li>المشاركة في استراتجية تطوير المحتوى.
    
    <li>التنسيق مع فريق تصميم واجهة المستخدم (UI).
    
    <li>تتبع أهداف قابلية الاستخدام.
    
    <li>إجراء الاختبارات على قابلية الاستخدام (Usability Test) لكل الصفحات على موقع الويب وإنشاء تقرير بالنتائج.
    </li>
    </ul>
    <p>
    <strong>مجال واعد بشكل كبير</strong></p>
    
<p>
    فبالرغم أن هناك العديد من التخصصات في العالم التقني تتلاشى من حولنا نظراً لإمكانية الاستغناء عنها جزئياً أو كلياً لوجود بديل (تكنولوجي آلي) جاهز وسهل الاستخدام مثل "الووردبريس" وأمثاله الذي استحوذ على جزء كبير من سوق بناء المواقع. فالشركات لم تعد بحاجة لمتخصصين في إنشاء المواقع أحدهم في الـ Front End وآخر في الـ Back End أو متخصص Full Stack بل مجرد موظف بالشركة لديه معرفة ببعض المعلومات التقنية يكفي لإنشاء موقع بجودة وكفاءة عالية على الووردبريس دون الحاجة لمبرمج صفحات ويب Front End أو Back End.</p>
    
<p>
    لا سيما ما نحو فيه الآن من ذكاء اصطناعي Artificial Intelligence – AI.</p>
    
<p>
    <strong>لكن</strong> متخصص الكتابة لتجربة المستخدم لا يمكن الإستغناء عنه أو استبداله ببديل آلي لأن العامل البشري فيه مهم لما له من حاجه دائمه للإبداع وإظهار الطابع البشري عليه، بجانب مهارة الذكاء العاطفي، والتي لا يملكها الذكاء الاصطناعي. <strong>فلا يمكن أبداً بأي حال من الأحوال أتمتة الكتابة لتجربة المستخدم.</strong></p>
    
<p>
    <strong>نظرة على منصة "تعلم الكتابة لتجربة المستخدم بالعربية UXWtintingAr"</strong></p>
    
<p>
    <strong>أكثر ما أعجبني من منصة "الكتابة لتجربة المستخدم بالعربية":</strong></p>
    
<p>
    هي متابعتهم المستمر لنا "كخريجين" حتى يومنا هذا رغم تخرجي من المنصة يوم ٢٨ أبريل ٢٠٢١، لكن لم تنتهي دعوتهم لي لحضور العديد من المحاضرات والجلسات الأونلاين المتخصصة والتي تتمحور حول التخصص من أكثر من جانب. ومن تلك الجلسات التي حصلت عليها بعد الدورة والتي لا يمكن نسيانها جلسة: "التسويق الشخصي | Personal Branding" لما كانت تحويه من نصائح وخطوات فعالة ومجربة تساعد أي شخص لوضع أقدامه على أول الطريق الوظيفي في مجال الكتابة لتجربة المستخدم بل وفي أي مجال تقني.</p>
    
<p>
    <strong>أخيراً:</strong></p>
    
<p>
    بمناسبة عيد الميلاد الرابع لمنصة "الكتابة لتجربة المستخدم بالعربية UX Writing Ar" أتوجله إلى فريق العمل بخالص الشكر لما أضافه لي من علم؛ متمنياً لهم كل النجاح والتوفيق.</p>
    
    </p>