@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #fadc41;
    --font-color: #282828;
    --main-size: 65%;
}
body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    text-align: right;
    background-color: var(--main-color);
    height: 100vh;
}
  ::selection {
    background-color: var(--main-color)
}

.weather{
    direction: ltr;
}


